<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <h1>핸드폰 번호 수정</h1>
    <hr>
    <form action="/management/myinfo/set_phone" method="POST">
        <table>
            <tr>
                <td><input type="text" name="phone" placeholder="phone_number"></td>
            </tr>
        </table>
        <input type="submit" value="확인">
    </form>
</body>
</html>