<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <h1>구독내역조회</h1>
    <hr>

    <form action="/management/myinfo/set_open" method="POST">
        <table>
            <tr>
                <input type="radio" name="open" value=1> 자동결제<br>
                <input type="radio" name="open" value="0"> 자동결제 취소<br>
            </tr>
        </table>
        <input type="submit" value="확인">
    </form>
</body>
</html>