<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <title>도비의 서재</title>
</head>
<body> 
    <div class = "main_menu">
        <center>
            <h2 id ="menu"><a href ="http://localhost:3000">홈</a>
            </h2> <h2 id ="menu"><a href ="http://localhost:3000/search">검색</a>
            </h2> <h2 id ="menu"><a href ="http://localhost:3000/shelf">내 서재</a></h2>
            <h2 id ="menu"><a href ="http://localhost:3000/management">관리</a></h2>
        </center>
    </div>
    
    <hr />
    <div>
        <center>
            <h1>post 작성</h1>
            <hr>
            <% link = "http://localhost:3000/shelf/post/setpost?pid=" + info[0].post_id %>
            <% pid = info[0].post_id %>
            <form action=<%= link %> method="POST" >
                <table>
                    <% if(pid==-1){%>
                    <tr>
                        <td><input type="text" name="title" placeholder="제목"></td>
                    </tr>
                    <tr>
                        <td><textarea name="contents"></textarea></td>
                    </tr>
                    <% }else{ %>
                    <tr>
                            <td><textarea name="title"><%= info[0].title %></textarea></td>
                    </tr>
                    <tr>
                        <td><textarea name="contents"><%= info[0].contents %></textarea></td>
                    </tr>
                    <% } %>
                </table>
                <input type="submit" value="확인">
            </form>
        </center>
    </div>

</body>
</html>