<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <title>밀리의 서재</title>
</head>
<body> 
    <div class = "main_menu">
        <center>
            <h2 id ="menu"><a href ="http://localhost:3000">홈</a>
            </h2> <h2 id ="menu"><a href ="http://localhost:3000/search">검색</a>
            </h2> <h2 id ="menu"><a href ="http://localhost:3000/shelf">내 서재</a></h2>
            <h2 id ="menu"><a href ="http://localhost:3000/management">관리</a></h2>
        </center>
    </div>
    
    <hr />
    <div>
        <center>
            <h1>post 작성</h1>
            <hr>
            <% link = "http://localhost:3000/shelf/post/setpost?pid=" + info[0].pid %>
            <form action=<%= link %> method="POST">
                <table>
                    <tr>
                        <td><input type="text" name="title" placeholder="제목"></td>
                        <td><input type="text" name="contents" placeholder="글 내용"></td>
                    </tr>
                </table>
                <input type="submit" value="확인">
            </form>
        </center>
    </div>

</body>
</html>