body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.right{
  text-align : right;
}

.list {
  display : inline-block;
  margin : 2%;
  padding: 10px;
  border : 1px solid black;
  font-weight : bold;
  width : 80px;
}

.main_menu {
  margin : 10px;
}

#menu{
  display : inline;
  margin : 20px;
}

a{
  color : black;
  text-decoration : none;
}

.column{
  width :40%;
  overflow : scroll;
  background-color : whitesmoke;
  margin-bottom : 3%;
  white-space:nowrap;

}

.book_image{
  display : inline-block;
  margin : 3%;
  padding: 10px;
  background-color: salmon;
  font-weight : bold;
  width : 100px;
  height : 150px;
}
.tag {
  display : inline-block;
  margin : 2%;
  font-weight : bold;
}
table { 
  display : block;
  width : 100%;
}
tr{
  text-align: center;
}
td{
  width:200px;
}

th{
  font-size : 20px;
}
input{
  width : 100%;
  font-size : 15px;
  border : 1px solid black;
  padding: 10px;

}

