@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo|Noto+Serif+KR|Song+Myung');
body{
  
  /* font-family: 'Nanum Myeongjo', serif; */
}
.header{
  font-family: 'Song Myung', serif;
  font-size: 50px;
  /* font-family: cursive; */
  margin-top : 0;
  
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main_menu {
  margin : 10px;
}

#menu{
  display : inline;
  margin : 20px;
}

a{
  color : black;
  text-decoration : none;
}

.column{
  width :40%;
  overflow : scroll;
  background-color : whitesmoke;
  margin-bottom : 3%;
  white-space:nowrap;

}

.list {
  display : inline-block;
  margin : 2%;
  padding: 10px;
  border : 1px solid black;
  font-weight : bold;
  width : 80px;
}
.tag {
  display : inline-block;
  margin : 2%;
  font-weight : bold;
}
table { 
  width : 35%;
}
td{
  margin : 10px;
  padding: 9px;
  text-align: center;
}
th{
  font-size : 20px;
}


