body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main_menu {
  margin : 10px;
}

#menu{
  display : inline;
  margin : 20px;
}

a{
  color : black;
  text-decoration : none;
}

.column{
  width :40%;
  overflow : scroll;
  background-color : whitesmoke;
  margin-bottom : 3%;
  white-space:nowrap;

}

.list {
  display : inline-block;
  margin : 2%;
  padding: 10px;
  border : 1px solid black;
  font-weight : bold;
  width : 80px;
}
.tag {
  display : inline-block;
  margin : 2%;
  font-weight : bold;
}
table { 
  display : block;
  width : 100%;
}
tbody{
  display : block;
  width : 100%;
  align-content: center;
}
tr{
  text-align: center;
  display : block;
  width : 100%;
  border : 10px;

}
td{
  display : inline-block;
  border : 10px;
}
button{
  height : 40px;
  width : 40px;
}
th{
  font-size : 20px;
}
input{
  margin : 10px;
  width : 100%;
  font-size : 15px;
  border : 1px solid black;
  padding: 10px;

}

