body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.header{
  background-color : whitesmoke;
  width : 40%;
}
.left{
  text-align : left;
  margin : 10px;
}

.main_menu {
  margin : 10px;
}

#menu{
  display : inline;
  margin : 20px;
}

a{
  color : black;
  text-decoration : none;
}

.column{
  width :40%;
  overflow : scroll;
  background-color : whitesmoke;
  margin-bottom : 3%;
  white-space:nowrap;

}

.list {
  display : inline-block;
  margin : 2%;
  padding: 10px;
  border : 1px solid black;
  font-weight : bold;
  width : 80px;
  overflow: hidden;
  background-color :#F09696;
}
.tag {
  display : inline-block;
  margin : 2%;
  font-weight : bold;
}
table { 
  width : 100%;
}
td{
  margin : 10px;
  padding: 9px;
  text-align: center;
}
th{
  font-size : 20px;
}


