<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/book.css' />
    <title>밀리의 서재</title>
</head>
<body> 
    <div class = "main_menu">
        <center>
            <h2 id ="menu"><a href ="http://localhost:3000">홈</a>
            </h2> <h2 id ="menu"><a href ="http://localhost:3000/search">검색</a>
            </h2> <h2 id ="menu"><a href ="http://localhost:3000/shelf">내 서재</a></h2>
            <h2 id ="menu"><a href ="http://localhost:3000/management">관리</a></h2>
        </center>
    </div>
    
    <hr />
    <div>
        <center>
            <div class="book_info">
            <table>
                <tr>
                    <th rowspan="5">
                        <div class = "book_image">
                            <p>image</p>
                        </div>
                    </th>
                    <th colspan="2">죽고싶지만 떡볶이는 먹고싶어</th>
                    <th></th>
                </tr>
                <tr>
                    <td>저자</td>
                    <td>백세희</td>
                </tr>
                <tr>
                    <td>출판사</td>
                    <td>가나다라마</td>
                </tr>
                <tr>
                    <td><p>❤️: 3</p></td>
                    <td><button>❤️</button></td>
                </tr>
                <tr>
                    <td>이 책이 담긴 서재</td>
                    <td>111</td>
                </tr>
                </table>
            </div>
    
            <h2>감성 태그 픽</h2>
            <div class ="column">
                <div class = "tag">
                    <p>#밤에읽기좋은</p>
                </div>
            </div>

            <h2>이 저자, 역자의 다른 도서</h2>
            <div class ="column">
                <div class = "list">
                    <p>한강</p>
                    <p>소년이 온다</p>
                </div>
            </div>

            <h2>이 분야의 인기도서</h2>
            <div class ="column">
                <div class = "list">
                    <p>한강</p>
                    <p>소년이 온다</p>
                </div>
            </div>


        <h2>포스트</h2>
        <div class ="column">
                <table>
                    <tr>
                        <th>제목</th>
                        <th>작성자</th>
                    </tr>
                    <tr>
                        <td>독서노트</td>
                        <td>성공한 여행가_27</td> 
                    </tr>
                </table>
        </div>
    </center>
    </div>
</body>
</html>

