<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>밀리의 서재</title>
</head>
<body>
    <h1>HOME</h1>
    <hr />
    <button><a href = "http://localhost:3000/user/login">로그인하기</a></button>
    <button><a href = "http://localhost:3000/user/addUser">회원 가입</a></button>
    <button><a href = "http://localhost:3000/management/list">관리</a></button>
</body>
</html>