<head>
  <title>home</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <p>user id : <%= UID %></p>
  <table id="table" > 
      <thead>  
          <tr>  
              <th>Name</th>  
              <th>Author</th>  
          </tr>  
      </thead>  
       <tbody>  
       <% print.forEach(function(book) { %>
          <tr>  
              <td><%= book.name %></td>  
              <td><%= book.author %></td>
          </tr>                                   
       <% }) %>
       </tbody>
  </table>   
  <button> <a href = http://localhost:3000/create> add </a></button>
</body>

</html>