<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <center>
    <h1>정기권이 자동 결제 되었습니다</h1>
    
    <div class ="column">
            <table>
                    <tr>
                        <th>시작일</th>
                        <th>종료일</th>
                        <th>결제금액</th>
                    </tr>
                    <tr>
                        <td>
                            <% print.forEach(function(print) { %>
                                <tr><td><%= print.fromDate %></td>
                                <td><%= print.toDate %></td>
                                <td><%= print.amount %></td></tr>
                            <% }) %>
                        </td>
                </tr>
            </table>
    </div>
    <center>
</body>
</html>