<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <title>밀리의 서재</title>
</head>
<body> 
    <div class = "main_menu">
        <center>
            <h2 id ="menu"><a href ="http://localhost:3000">홈</a>
            </h2> <h2 id ="menu"><a href ="http://localhost:3000/search">검색</a>
            </h2> <h2 id ="menu"><a href ="http://localhost:3000/shelf">내 서재</a></h2>
            <h2 id ="menu"><a href ="http://localhost:3000/management">관리</a></h2>
        </center>
    </div>
    
    <hr />
    <div>
        <center>
            <h2>검색 결과</h2>
            <div class ="column">
                    <table>
                            <tr>
                                <th>제목</th>
                                <th>작가</th>
                                <th>출판사</th>
                            </tr>
                            <tr>
                                <td>
                                    <% book_result.forEach(function(book_result) { %>
                                        <tr><td><%= book_result.title %></td>
                                        <td><%= book_result.writer %></td>
                                        <td><%= book_result.publisher %></td></tr>
                                    <% }) %>
                                </td>
                        </tr>
                    </table>
            </div>
        </center>
    </div>

</body>
</html>