<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <title>도비의 서재</title>
    <center><h1 class="header">도비의 서재</h1></center>
</head>
<body> 
    <div class = "main_menu">
        <center>
            <% slink = "http://localhost:3000/shelf?sid=" + -1 %>
            <h2 id ="menu"><a href ="http://localhost:3000">홈</a>
            </h2> <h2 id ="menu"><a href ="http://localhost:3000/search">검색</a>
            </h2> <h2 id ="menu"><a href =<%= slink %>>내 서재</a></h2>
            <h2 id ="menu"><a href ="http://localhost:3000/management">관리</a></h2>
        </center>
    </div> 
    <hr />
    <center>
        <h2>관심사 관리</h2>
        <div class = "column">
                <table>
                   <tr>
                       <td><a href="http://localhost:3000/management/hanna/interest_set">관심 카테고리 관리</a></td>
                       <td></td>
                   </tr>
                   <tr>
                       <td><a href="http://localhost:3000/management/hanna/interest_bookpost">관심 카테고리 관련 추천</a></td>
                       <td></td>
                   </tr>
                   <tr>
                       <td>
                       </td>
                   </tr>
               </table>
           </div>
    </center>
</div>
    

</body>
</html>