<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <h1>구독관리</h1>
    <hr>
    <table>
            <tr>
                <td><a href="http://localhost:3000/management/subscribe/history">구독내역 조회</a></td>
            </tr>
            <tr>
                <td><a href="http://localhost:3000/management/subscribe/autopay">자동 결제 해지 신청</a></td>
            </tr>
            <tr>
                <td><a href="http://localhost:3000/management/subscribe/alarm">알람 기능</a></td>
            </tr>
            <tr>
                <td><a href="http://localhost:3000/management/subscribe/interest_category">유저 관심 카테고리</a></td>
            </tr>
            <tr>
                <td><a href="http://localhost:3000/management/subscribe/quote">인용문</a></td>
            </tr>
        </table>
       
</body>
</html>